
.title {  
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.first {
    text-decoration: none;
}

.title-1 {
    display: flex;
    width: 334px;
    height: 79px;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    margin-bottom: 40px;
    margin-top: 63px;
    margin-left: 98px;

}

    .mda {
        color: #4BCAFF;
    }

 .top-menu {
    color: white;
    display: flex;
   
 }

 .header {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 69px;
    background-color: #35444F;
    margin-left: 100px;
    margin-right: 100px;
 }

 .top-text:hover {
    background-color: #222F3A;
 }

 .top-menu span {
    color: white;
    padding: 32px;
    border-right: 1px solid white;
    border-left: 1px solid white;
 }

 /*  */

.bar {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 344px;
   height: 399px;
   margin-left: 100px;
   margin-top: 49px;
   border: 1px solid gray;
}

.item {
    display: flex;
width: 106px;
height: 27px;

justify-content: center;
color:#485863 ;
display: block;
padding:10px 30px ;
text-align: center;

font-family: Roboto;
font-size: 27px;
font-style: normal;
font-weight: 400;
line-height: 27px; 

margin-bottom: 25px;

margin-left: 42px;

}

.item:hover {  
    color: black;
    padding-left: 50px;
background-color: #4858636a;
}

.logo {
 
 width: 320px;
height: 381px;

display: flex;
justify-content: center;
align-items: center;


margin-left: 530px;

border: 1px solid #000;
background: rgba(0, 0, 0, 0.00);

position: absolute;
padding-top: 76px;
padding-right: 269px;
padding-left: 298px;
padding-bottom: 74px;


}


/* text */



.text-content {
 
    width: 885px;
    height: 141px;
   
    color: #2C2C2C;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px; 

position: absolute;

top: 866px;
bottom: 275px;
right: 99px;
left: 496px;

margin-left: 30px;
}

.text-content-2 {
    display: flex;
width: 885px;
height: 109px;
flex-direction: column;
justify-content: center;

color: #2C2C2C;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px; 

position: absolute;
top: 1020px;
bottom: 153px;
right: 99px;
left: 496px;
margin-left: 30px;

margin-bottom: 54px;

/* footer */

}

.footer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: 54px;

}

.footer-content {
margin: auto;
display: flex;
box-sizing: border-box;
justify-content: flex-start;
align-items: center;
position: absolute;
top: 1133px;
left: 100px;
right: 100px;

background: rgba(99, 105, 110, 0.48);


width: 1280px;
height: 69px;



}

.f-text {
    text-decoration: none;
    color: #0C1927;
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
margin-right: 15px;
text-align: left;
margin-left: 40px;

}

.last {
    color: #010101;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 24px; 

display: flex;
justify-content: space-between;
box-sizing: border-box;
margin-left: auto;
margin-right: 40px;
}

.f-text:hover {
    text-decoration: underline;
    color: #3181A6;
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}